{% extends 'base.html' %}

{% block content %}


    This is the index if the user is logged in.  <br>

    <ol>
        {% for board in boards %}
            <a href="{% url 'viewBoard' board.id %}">
                <li>{{ board.name }}</li>
            </a>
        {% endfor %}
    </ol>


    <hr>


   {% comment %} <a href="{%  url 'submitPicture' %}">Submit Picture</a> <br>

    <a href="{%  url 'viewBoard' %}">View Boards</a> <br>

     {% endcomment %}

    <a href="{% url 'submitPicture' %}">Submit Picture</a> <br>


    <a href="{%  url 'profileView' %}">My Profile</a> <br>


    <a href="{%  url 'logoutView' %}">Logout</a> <br>


{%  endblock %}